.detail {
  text-align: justify;
  margin: 2rem 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transform: scale(85%);
  transition: 2s;
  gap: 3rem;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 1.5rem;
  }

  .text {
    width: 40%;
    padding: 0 1rem;
    @media screen and (max-width: 1000px) {
      width: 95%;
    }
  }
  .image {
    width: 60%;
    aspect-ratio: 16/9;
    overflow: hidden;
    @media screen and (max-width: 1000px) {
      width: 95%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}
