.detail {
  height: 70vh;
  text-align: justify;
  margin: 2rem 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transform: scale(85%);
  transition: 2s;

  .text {
    flex: 1;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .image {
    width: 60%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}
