.projects_container {
  display: flex;
  position: relative;
  .video {
    background-color: magenta;
    border-radius: 5% 5% 50% 0px;
    width: 65vw;
    height: 100vh;
    z-index: 2;
  }
  .right {
    position: absolute;
    left: 50vw;
    .stack {
      position: relative;
      background-color: aquamarine;
      width: 40vw;
      height: 50vh;
      z-index: 1;
    }
    .description {
      position: relative;
      background-color: olive;
      border-radius: 45% 0px 0px 0px;
      width: 40vw;
      height: 50vh;
      z-index: 3;
    }
  }
}
