.project_container {
  width: 90vw;
  display: flex;
  position: relative;
  .video {
    background-color: magenta;
    border-radius: 7%;
    width: 70vw;
    height: 70vh;
    z-index: 2;
  }
  .right {
    position: absolute;
    left: 50vw;
    .stack_container {
      position: relative;
      background-color: aquamarine;
      width: 40vw;
      height: 30vh;
      z-index: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;

      .stack {
        margin-right: 2vw;
        img {
          width: 5vw;
          height: 5vh;
        }
      }
    }
    .description {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      background-color: olive;
      clip-path: polygon(37.5% 0, 100% 0, 100% 100%, 0% 100%);
      width: 40vw;
      height: 40vh;
      z-index: 3;

      .text {
        margin-right: 2vw;
      }
    }
  }
}
