.project_container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 3rem;
  }

  .video-responsive {
    width: 90vw;
    height: 70vh;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .stack_container {
      font-size: 1.5rem;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      .img_container {
        display: flex;
        align-content: flex-end;
        justify-content: space-evenly;
        width: 70%;
        .stack {
          img {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
    .description {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      line-height: 1.5rem;
      color: black;
      width: 50%;
      .text_container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: justify;
        .text {
          padding: 1rem 2rem;
        }
      }
      .links_container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 1rem 0;
        a {
          font-size: 3rem;
          color: black;
          &:visited {
            color: black;
          }
        }
      }
    }
  }
  .details {
    margin: 5rem 0;
    width: 100%;
  }
}
