@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  font-family: "Bubblegum Sans", cursive;
}
.left {
  height: 90vh;
  width: 60vw;
  margin-top: 10vh;
}

.right {
  font-size: 50px;
  height: 90vh;
  width: 40vw;
  margin-top: 10vh;
  margin-right: 5vw;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right p {
  padding: 5px;
}
