@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  font-family: "Bubblegum Sans", cursive;

  .left {
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 55vw;
    margin-top: 10vh;

    img {
      max-width: 100%;
      object-fit: cover;
    }

    .magic {
      position: absolute;
      padding: 0.5vw;
      top: 20%;
      left: 75%;
      width: 11vw;
      height: 11vw;
      border-radius: 50%;
      background: radial-gradient(circle at 30% 30%, #f5594b, transparent);
      box-shadow: 1vw 0 17px 5px #ffff9c;
      animation: 4s infinite alternate ease bounce;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
      }
    }
    @keyframes bounce {
      100% {
        transform: translateY(-90%);
      }
    }
  }

  .right {
    font-size: 50px;
    height: 90vh;
    width: 30vw;
    margin-top: 10vh;
    margin-right: 5vw;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    p {
      padding: 5px;
      position: relative;
      left: 25px;
    }
  }
}
