@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  font-family: "Bubblegum Sans", cursive;
}
.left {
  overflow: hidden;
  height: 90vh;
  width: 55vw;
  margin-top: 10vh;
}

.right {
  font-size: 50px;
  height: 90vh;
  width: 30vw;
  margin-top: 10vh;
  margin-right: 5vw;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 2.5s infinite;
  position: relative;
}

.right p {
  padding: 5px;
  position: relative;
  left: 25px;
}

@keyframes fade {
  from {
    color: white;
  }

  50% {
    color: rgba(255, 255, 255, 0);
  }
}
