@import "../../global.scss";
.splash_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .top {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("./blob2.svg");
    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    .left {
      width: 65%;
      padding: 5rem 5rem 0 0;
      @media screen and (max-width: 1000px) {
        width: 80%;
        margin-top: 3rem;
        padding: 0;
      }

      .image {
        position: relative;
        max-width: 100%;
        img {
          max-width: 100%;
          float: right;
        }

        .magic {
          position: absolute;
          padding: 0.5rem;
          width: 10vw;
          aspect-ratio: 1/1;
          left: 77%;
          border-radius: 50%;
          background: radial-gradient(
            circle at 30% 30%,
            $dark-color,
            transparent
          );
          box-shadow: 0 0;
          animation: 4s infinite alternate ease bounce;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            border-radius: 50%;
          }
          @keyframes bounce {
            100% {
              transform: translateY(120%);
              box-shadow: 0 2vw 17px 5px $light-color;
            }
          }
        }
      }
    }

    .right {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      position: relative;
      padding-top: 2rem;
      line-height: 1;
      @media screen and (max-width: 1000px) {
        width: 80%;
        padding-top: 4rem;
      }
      h1 {
        font-family: $bubblegum;
        font-size: 5rem;
        @media screen and (max-width: 1000px) {
          font-size: 9vw;
        }
      }
      p {
        font-size: 2rem;
        font-weight: 500;
        padding-right: 1rem;
        @media screen and (max-width: 1000px) {
          font-size: 5vw;
        }
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      color: $second-color;
      font-size: 6rem;
      font-family: $moon-dance;
      @media screen and (max-width: 1000px) {
        font-size: 12vw;
      }
    }
  }
}
