header {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 2rem;
}
section {
  margin: 1rem 0 1rem 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .image {
    width: 50%;
  }
}
