@import "../../global.scss";

.about-wrapper {
  position: relative;
  .curve-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 150px;
    }
    .shape-fill {
      fill: #0578f3;
    }
  }

  header {
    margin-top: 5rem;
    font-family: $bubblegum;
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
  }
  padding: 2rem 2rem;
  section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    .text {
      width: 40%;
      margin: 2rem;
      padding: 1rem 3rem;
      text-align: justify;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      h2 {
        font-family: $bubblegum;
        font-size: 3rem;
      }
    }
    .image {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .curve-wrapper {
    position: relative;

    .curve {
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      z-index: -1;
      .svg {
        position: relative;
        display: block;
        width: calc(157% + 1.3px);
        height: 142px;
      }
      .third {
        position: relative;
        display: block;
        width: calc(139% + 1.3px);
        height: 100px;
        transform: rotateY(180deg);
      }
      .shape-fill {
        fill: #0578f3;
      }
    }
  }
}
