.about-wrapper {
  header {
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }
  section {
    margin: 5rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    .text {
      margin: 2rem;
    }
  }
  .third {
    margin-bottom: 2rem;
  }
}
