@import "../../global.scss";
.about-wrapper {
  header {
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }
  section {
    margin: 5rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    .text {
      margin: 2rem;
      padding: 0.5rem;

      text-align: justify;
    }
    .image {
      #southamerica,
      #asia,
      #australia,
      #NorthAmerica,
      #groenlandia,
      #africa {
        animation: globe 2s infinite alternate;
      }

      @keyframes globe {
        50% {
          fill: blue;
        }
      }
    }
  }
  .third {
    margin-bottom: 2rem;
  }
}
