@import "../../global.scss";
.contact_wrapper {
  background-color: $dark-color;
  .wave_container {
    position: relative;
    width: auto;
    height: 15vw;
    background-origin: inherit;
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      fill: white;
    }
  }

  .container {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
    gap: 1rem;
    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      gap: 2rem;
    }

    .left {
      background-color: $light-color;
      border-radius: 10%;
      padding: 2rem;
      width: 50%;
      @media screen and (max-width: 1000px) {
        width: 80%;
      }
    }
    .right {
      border: solid 1.5px white;
      border-radius: 5%;
      padding: 0 2rem;
      margin-right: 2rem;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      place-content: space-around;
      @media screen and (max-width: 1000px) {
        padding: 0;
        margin: 1rem;
      }

      .title {
        font-size: 4vw;
        @media screen and(min-width:1000px) {
          animation: rot 5s infinite alternate;
          @keyframes rot {
            33% {
              transform: rotate3d(1, 2, 3, 10deg);
            }
            66% {
              transform: rotate3d(1, 2, 3, -10deg);
            }
          }
        }
      }
      .title::after {
        content: "!";
      }
      ul {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        li {
          list-style-type: none;
          a {
            font-size: 4vw;
            color: white;

            :hover {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
