.contact_wrapper {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 3rem;

  .left {
    width: 65%;
    img {
      width: 75%;
    }
  }
  .right {
    width: 35%;
    border: solid 1.5px white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    place-content: space-around;

    .title {
      font-size: 4vw;
      animation: rot 5s infinite alternate;
      @keyframes rot {
        33% {
          transform: rotate3d(1, 2, 3, 10deg);
        }
        66% {
          transform: rotate3d(1, 2, 3, -10deg);
        }
      }
    }
    .title::after {
      content: "!";
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      padding-left: 0;
      li {
        list-style-type: none;
        a {
          font-size: 4vw;
          color: white;

          :hover {
            color: rgba(195, 150, 180);
          }
        }
      }
    }
  }
}
