@import "../../global.scss";

.navbar-wrapper {
  width: 100vw;
  position: absolute;
  z-index: 1;
  padding: 1rem 0;
  @media screen and (max-width: 1000px) {
    width: 0;
    height: 0;
  }

  .links {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;
    a {
      text-decoration: none;
    }
  }
}
