@import "../../global.scss";
.sidebar-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  right: -100vw;
  z-index: 3;
  @media screen and (max-width: 1000px) {
    right: -90vw;
  }
}
.open {
  background-color: $dark-color;
  opacity: 0.9;
  right: 0;
  align-items: center;
  color: $light-color;
}

.links {
  flex-grow: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
}
a:visited {
  color: $light-color;
}

.arrow {
  font-size: 2.5rem;
  cursor: pointer;
}
