.sidebar-wrapper {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.links {
  flex-grow: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
}
a:visited {
  color: white;
}

.arrow {
  padding: 2rem 0.5rem 0 0.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}
