.wrapper {
  background: black;
  color: white;
  width: 10vw;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
  position: relative;
}

.links {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 30px;
  padding: 3px;
}
a:visited {
  color: white;
}

.arrow {
  padding-top: 20px;
  font-size: 30px;
  cursor: pointer;
}
