@import "./global.scss";

body {
  font-family: $main-font;
  line-height: 2;
}
.app_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  .router {
    position: relative;
  }
}
