body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.app_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.router {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
