@import "./global.scss";
body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: $background;
}
.app_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.router {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
