@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700;900&display=swap");

$main-color: #0578f3;
$second-color: #0761c2;
$light-color: #c7e0fb;
$dark-color: #020b29;

$moon-dance: "Moon Dance", cursive;
$bubblegum: "Bubblegum Sans", cursive;
$main-font: "Fira Sans", sans-serif;
