@import "../../global.scss";

.slider_container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;

  header {
    font-size: 3rem;
    color: $dark-color;
  }
  .images {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    width: 90%;
    .left,
    .right {
      margin: 0 1rem;
      .chevron {
        cursor: pointer;
        border: solid black 0.5px;
        width: 2.5rem;
        border-radius: 7%;
        background-color: rgba(0, 0, 0, 0.2);
        &:hover {
          border: solid black 1px;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
    }

    .center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .slide {
        border: 3px solid rgb(61, 61, 61);
        cursor: pointer;
        opacity: 0.8;
        width: 270px;
        height: 155px;
        &:hover {
          border-color: black;
          opacity: 1;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}
