.slider_container {
  width: 90vw;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: 2s all ease;

  header {
    font-size: 2.5rem;
    color: magenta;
  }
  .images {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;

    .left,
    .right {
      width: 5vw;
      .chevron {
        cursor: pointer;
        border: solid black 0.5px;
        width: 2.5vw;
        height: 5vh;
        border-radius: 7%;
        background-color: rgba(0, 0, 0, 0.2);
        &:hover {
          border: solid black 1px;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
    }

    .center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70vw;
      .slide {
        border: 3px solid rgb(61, 61, 61);
        cursor: pointer;
        opacity: 0.8;
        width: 270px;
        height: 155px;
        &:hover {
          border-color: black;
          opacity: 1;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}
